<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Google Sign-in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        {% if email %}
            <img src="{{ picture_url }}" alt="Profile Picture">
            <p>Hello {{ name }} <a href="/logout">[Sign out]</a></p>
            <p>You are signed in with the email {{email}} </p>
            <p>Current Indian Time: {{ current_time }}</p>
            <!-- New input box for the number of lines -->
            <label for="numLines">Number of Lines:</label>
            <input type="number" id="numLines" name="numLines" max="100">

            <!-- New button to display the diamond pattern -->
            <button onclick="displayDiamond()">Display</button>

            <!-- Container to display the diamond pattern -->
            <div id="diamondPattern"></div>
        {% else %}
            <h1>Welcome to Flask Google Sign-in</h1>
            <a href="/login">Login with Google</a>
        {% endif %}
    </div>
    <script>
        function displayDiamond() {
        // Get the value from the input box
        var numLines = document.getElementById("numLines").value;
        
        // Clear the previous content
        document.getElementById("diamondPattern").innerHTML = "";

        // Validate the input
        if (numLines < 1 || numLines > 100 || isNaN(numLines)) {
            alert("Please enter a valid number between 1 and 100.");
            return;
        }

        const inputString = 'FORMULAQSOLUTIONS';

        if (parseInt(numLines) === 1){
            document.getElementById("diamondPattern").innerHTML += "<p>F</p>";
        }

        let maxLength = -1;

        if (numLines % 2 === 0) {
            maxLength = parseInt(numLines) + 1;
        } else {
            maxLength = numLines;
        }

        let spaces = Math.floor(maxLength / 2);
        let inputRepeated = inputString.repeat(spaces);
        let charTracker = 0;

        for (let i = 1; i < maxLength; i += 2) {
            charTracker %= 17;
            const toPrint = "&nbsp;".repeat(spaces*2 + 1) + inputRepeated.substring(charTracker, charTracker + i);
            document.getElementById("diamondPattern").innerHTML += "<p>" + toPrint+ "</p>";
            spaces--;
            charTracker++;
        }

        for (let i = maxLength; i > 0; i -= 2) {
            charTracker %= 17;
            i = parseInt(i)
            const toPrint = "&nbsp;".repeat(spaces*2 + 1) + inputRepeated.substring(charTracker, charTracker + i);
            document.getElementById("diamondPattern").innerHTML += "<p>" + toPrint+ "</p>";
            spaces++;
            charTracker++;
        }
    }

    </script>
</body>
</html>
